* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbded5;
  color: #3c413d;
  width: 100%;

}

header {
  margin-top: 10px;
}

header img {
  margin-left: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

main {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

textarea {
  width: 87%;
  height: 30vw;
  border-radius: 20px;
  padding-top: 10px;
  resize: none;
  text-align: justify;
  background-color: #dbded5;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

textarea:hover,
textarea:focus {

  outline: none;

}

.textAlert {
  text-align: left !important;
  margin: 0 60px;
  font-weight: bold;
}

.errorAlert {
  display: none;
  font-size: 18px;
}

button {
  background-color: #a5bcb6;
  color: #3c413d;
  padding: 15px;
  border-radius: 10px;
  width: 30%;
  margin: 20px 10px;
  font-weight: bold;
  border: none;
}

button:hover,
button:focus {
  background-color: #38603e;
  outline: none;
  color: #dbded7;
}

.asideContainer,
.encryptedText {
  width: 95%;
  height: 31vw;
  border-radius: 20px;
  vertical-align: top;
  padding-top: 10px;
  resize: none;
  text-align: justify;
  padding: 20px;
  background-color: #a5bcb6;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.encryptedText {
  display: none;
}

.asideContainer img {
  width: 100%;
}


aside {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  padding-bottom: 10px;
  text-align: center;
}

#copy {
  width: 70%;
  margin: 0 auto;
  display: none;
}


/* Desktop */
@media screen and (min-width: 1200px) {
  /* Estilos para desktop */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .asideContainer img {
    display: none;
  }

  main {
    width: 90%;
  }

  aside {
    width: 90%;
  }

  textarea {
    width: 100%;
    height: 25vw;
  }

  .asideContainer,
  .encryptedText {
    width: 100%;
    height: 15vw;
  }
}

/* Phone */
@media screen and (max-width: 767px) {
  .asideContainer img {
    display: none;
  }
  
  main {
    width: 90%;
  }

  aside {
    width: 90%;
  }

  textarea {
    width: 100%;
    height: auto;
  }

  .asideContainer,
  .encryptedText {
    width: 100%;
    height: auto;
  }
}